<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dizhang.com.example.tiramisu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="dizhang.com.example.View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dizhang.com.example.View.HomeActivity"
            android:label="Tiramisu" />
        <activity android:name="dizhang.com.example.View.SignupActivity" />
        <activity android:name="dizhang.com.example.View.HabitManagerActivity" />
        <activity android:name="dizhang.com.example.View.EventManagerActivity" />
        <activity android:name="dizhang.com.example.View.MapActivity" />
        <activity android:name="dizhang.com.example.View.ShareActivity" />
        <activity android:name="dizhang.com.example.View.HistoryActivity" />
        <activity android:name="dizhang.com.example.View.ProfileActivity" />
        <activity android:name="dizhang.com.example.View.HabitViewActivity" />
        <activity android:name="dizhang.com.example.View.EventViewActivity" />
        <activity android:name="dizhang.com.example.Control.HabitNewActivity" />
        <activity android:name="dizhang.com.example.Control.EditHabitActivity" />
        <activity android:name="dizhang.com.example.Control.EditProfileActivity" />
        <activity android:name="dizhang.com.example.View.RequestActivity" />
        <activity android:name="dizhang.com.example.Control.FollowedActivity"></activity>
    </application>

</manifest>